.fullscreen-login-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
}

@media (max-width: 300px)
{
    .login-container
    {
        width: 100%;
    }
}

@media not all and (max-width: 300px)
{
    .login-container
    {
        width: 250px;
    }
}
